<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1 mat-dialog-title>Add Profile Photo</h1>
<div mat-dialog-content>
  <p>Browse and add the picture you wish to set as profile picture</p>
  <div class="form-group">
    <input type="file"id="file" (change)="handleFileInput($event)"> 
  </div>
</div>
<div mat-dialog-actions>
  <button class="mat-dialog-close-button" mat-button mat-dialog-close [disabled]="!profilePicToUpload" 
  (click)="setProfilePic()" class="bottom-margin">
    Set as profile photo</button>
</div>

