<div class="flex-container">
    <div class="content">
        <div class="top-bar1" >
            <img src="../../assets/images/logo2.png" alt="image" class="logo" height="60px" width="75px">
        </div>
        <div class="top-bar2" >
            <button class="btn btn" mat-button [matMenuTriggerFor]="menu" style="float: right;"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Menu Item 1</button>
                <button mat-menu-item>Menu Item 2</button>
            </mat-menu>
        </div>
        <div class="left flex-child">
            <mat-form-field class="search">
                <input type="text" matInput placeholder="Search for contacts..">
            </mat-form-field>
            <button class="btn" mat-button style="float: right;" (click)="addToContacts()"><mat-icon>add</mat-icon></button>
            <ul style="list-style-type:none">
                <li *ngFor="let contact of contactList">
                    <button class="contactCard" type="button" (click)="setSelectedContact(contact)">
                        <span class="contact">{{contact.fname}} {{contact.lname}}</span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="right flex-child">
            <div class="top-bar3">{{selectedContact?.fname}} {{selectedContact?.lname}}</div>
            <div class="messages">
                <div class="msg1">Hello!</div><br>
                <div class="msg2">Hi!</div>
            </div>
        </div>
    </div>
</div>