.flex-container { 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:  rgb(27, 67, 50);
    padding: 0;
    font-family: cursive;
 }
 .content {
     flex-grow: "1";
     width: 75%;
     min-height: 83vh;
     font-family: cursive;
     border-radius: 10px;
     overflow:hidden;
 }
 .top-bar1 {
   min-height: 10vh;
   width: 40%;
   background-color: #EFFAF1;
   margin-top: 15px;
   display: inline-block;
   vertical-align: bottom;
}
 .top-bar2 {
    min-height: 10vh;
    width: 60%;
    background-color: #EFFAF1;
    margin-top: 15px;
    display: inline-block;
    vertical-align: bottom;
 }
 .top-bar4 {
   min-height: 7vh;
   width: 100%;
   background-color: rgb(216, 243, 220);
   margin-top: 15px;
   display: inline-block;
   margin-top: 0;
   padding: 10px;
}
 .logo {
   padding-top: 5px;
   padding-left: 5px;
 }
 .left {
    height: 74vh;
    width: 40%;
    background-color: #EFF3FA;
    display: inline-block;
    vertical-align:top;
    overflow-y: scroll;
 }
 .right {
    position: absolute;
    height: 74vh;
    width: 45%;
    background-color: #FCFFFC;
    display: inline-block;
    vertical-align:top;
 }
 .btn {
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;  
   background-color: rgb(64, 145, 108);
   color: #FCFFFC;
   border-radius: 30px;
   border: none;
   padding: 0px;
   margin-top: 14px;
   margin-right: 15px;
}
.sendbtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;  
  background-color: rgb(64, 145, 108);
  color: #FCFFFC;
  border-radius: 30px;
  border: none;
  margin-bottom: 14px;
  margin-left: 20px;
  padding-top: 5px;
}
mat-icon{
  font-size: 24px;
}
.sendicon {
  font-size: 20px;
}
 ul {
   padding: 0;
   list-style: none;
 }
 .contactCard {
   width: 100%;
   height: 70px;
   background-color: rgb(216, 243, 220);
   border: none;
   border-bottom: 2px solid #FCFFFC;
   border-left: 2px solid #FCFFFC;
   border-right: 2px solid #FCFFFC;
   padding-top: 5px;
   outline: none;
   cursor: pointer;
 }
 .search {
   padding-left: 20px;
   display: inline-block;
   width: 300px;
 }
 .selectedCard {
  background-color: rgb(64, 145, 108);
  color: #FCFFFC;
 }
 .messageList {
  overflow-y: scroll;
  height: 77%;
 }
 .messageInputbox {
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  display: inline-block;
 }
 .sender {
  text-align: right;
 }
 .sender-chat {
  display: inline-block;
  text-align: left; 
  background-color: rgb(27, 67, 50);
  color: #FCFFFC;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 8px;
  border-radius: 20px;
  padding: 7px;
 }
 .receiver-chat {
  display: inline-block;
  background-color: rgb(159, 175, 168);
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 8px;
  border-radius: 20px;
  padding: 7px;
 }
 .no-content {
  font-size: 20px;
  margin-left: 20%;
  margin-top: 27%;
 }
 .contactImage {
  width: 50px;
  height: 45px; 
  float: left;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 15px;
  margin-right: 15px;
 }
 .contact {
  float: left;
  margin-top: 8px;
 }