html {
    margin: 0;
    min-height: 100vh;
}
.flex-container { 
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: rgb(27, 67, 50);
   padding: 0;
}
.left {
    flex-grow: "1";
    background-color: rgb(216, 243, 220);
    width: 32%;
    min-height: 85vh;
    font-family: cursive;
}
.right {
    flex-grow: "1";
    background-color: white;
    width: 30%;
    height: 85vh;
}
.leftcontent {
    padding: 20px;
}
.rightcontent {
    font-size: 1.6em;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.lefthead {
    color: rgb(27, 67, 50);
    font-size: 30px;
}
.p1 {
    color:rgb(157, 181, 178);
    font-size: 15px;
}
img {
    height: 200px;
    width: 260px;
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.p2 {
    color:rgb(157, 181, 178);
    font-size: 12px;
}
label {
    display: block;
}
input {
    float: left;
}
button {
    background-color: rgb(64, 145, 108);
    color:rgb(216, 243, 220);
    border-radius: 5px;
    margin-left: 4px;
    padding-bottom: 4px;
    margin-top: 35px;
}
.error {
    font-size: 12px;
    padding-bottom: 1px;
}
@media screen and (max-width: 800px) {
    .right {
        width: 80%;
    }
    .left {
        display: none;
    }
}

