<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" 
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="flex-container">
    <div class="content">
        <div class="top-bar1" >
            <img src="{{'https://firebasestorage.googleapis.com/v0/b/wetalk-firebase.appspot.com/o/' + 
            currentProPic}}" style="width: 50px; height: 50px; border-radius: 50%; margin: 9px;"
            (click)="addProfilePic()" alt="Change profile photo">
            <button class="btn" mat-button [matMenuTriggerFor]="menu" style="float: right;"><mat-icon>more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addProfilePic()">Add Profile Photo</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
        <div class="left flex-child" *ngIf="(mobileView && !selectedContact) || (mobileView && showLeftPanelMobile) 
        || !mobileView">
            <div class="top-bar3">
                <mat-form-field class="search">
                    <input type="text" matInput placeholder="Search for contacts.." [(ngModel)]="searchWord"
                    (keyup)="search()">
                </mat-form-field>
                <button class="btn" mat-button style="float: right;" (click)="addToContacts()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div [hidden]="searchWord">
                <ul style="list-style-type:none">
                    <li *ngFor="let contact of contactList">
                        <button class="contactCard" type="button" (click)="setSelectedContact(contact)" 
                        [ngClass]="{'selectedCard': selectedContact === contact}">
                        <img src="{{'https://firebasestorage.googleapis.com/v0/b/wetalk-firebase.appspot.com/o/' + 
                        contact.profilepic}}"
                        class="contactImage"><div class="contact">{{contact.fname}} {{contact.lname}}</div>
                        </button>
                    </li>
                </ul>
            </div>
            <div *ngIf="searchWord">
                <ul style="list-style-type:none">
                    <li *ngFor="let contact of searchList">
                        <button class="contactCard" type="button" (click)="setSelectedContact(contact)" 
                        [ngClass]="{'selectedCard': selectedContact === contact}">
                            <span class="contact">{{contact.fname}} {{contact.lname}}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex-child messageSection" *ngIf="selectedContact && (!mobileView || (mobileView && !showLeftPanelMobile))" 
        [ngClass]="mobileView ? 'rightPanelMobile': 'right'">
            <div class="top-bar4" style="max-height: 65px; padding: 5px;">
                <div *ngIf="mobileView" style="float: left;">
                    <button class="btn" style="margin-top: 8px; margin-right: 12px; margin-left: 0px;" 
                    mat-button (click)="displayLeftPanelMobile()">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
                <div *ngIf="mobileView" style="margin-top: 11px; display: inline-block"
                >{{selectedContact.fname}} {{selectedContact.lname}}</div>
                <div *ngIf="!mobileView" style="margin-top: 3px; display: inline-block"
                >{{selectedContact.fname}} {{selectedContact.lname}}</div>
                <div *ngIf="mobileView" style="float: right;">
                    <img src="{{'https://firebasestorage.googleapis.com/v0/b/wetalk-firebase.appspot.com/o/' + 
                    selectedContact.profilepic}}" style="width: 50px; height: 50px; border-radius: 50%; margin-bottom: 20px;">
                </div>
            </div>
            <div class="messageList">
                <div class="messages" *ngFor="let message of messageList">
                    <div *ngIf="message">
                        <div class="sender" *ngIf="message.receiver === selectedContact.uname">
                            <div *ngIf="chatService.socketId === message.senderId" class="sender-chat"> 
                                {{message.message}}
                            </div>
                        </div>
                        <div class="receiver" *ngIf="message.receiver === currentUsername && 
                        message.sender === selectedContact.uname">
                            <div *ngIf="chatService.socketId !== message.senderId" class="receiver-chat"> 
                                {{message.message}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="messageInputbox">
                    <mat-form-field style="width: 65%">
                        <input type="text" matInput placeholder="Message.." [(ngModel)]="newMessage" 
                        (keyup)="$event.keyCode == 13 && newMessage && sendMessage()"/>
                    </mat-form-field>
                    <div style="float: right;">
                        <button class="filebtn"><i class="fa fa-paperclip icon"></i></button>
                        <button class="btn" style="margin-left: 45px;" mat-button (click)="newMessage && sendMessage()">
                            <mat-icon class="sendicon" style="margin-top: 3px;">send</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="rightNoContact flex-child" *ngIf="!selectedContact">
            <div class="top-bar4"></div>
            <div class="no-content">Select a contact to start a converstation</div>
        </div>
    </div>
</div>