<div class="flex-container">
    <div class="left">
        <div class="leftcontent">
            <b><div class="lefthead">WeTalk</div></b>
            <p class="p1">Now your friends and family are just a click away!</p>
            <br>
            <img src="../../assets/images/logo5.png" alt="image" class="center">
        </div>
    </div>
    <div class="right">
        <div class="rightcontent"><b>Sign Up to WeTalk</b>
            <form [formGroup]="registrationForm">
                <p class="p1">Already a member? <a href="">Login here</a></p>
                <label for="fname" class="p2">First Name</label>
                <input type="text" id="fname" formControlName="fname"/>
                <!-- <span *ngIf="!fname.valid && (fname.touched || registerClicked)" class="error">
                    Please provide a first name.
                </span> -->
                <br>
                <label for="lname" class="p2">Last Name</label>
                <input type="text" id="lname" formControlName="lname"/>
                <!-- <span *ngIf="!lname?.valid && (lname?.touched || registerClicked)" class="error">
                    Please provide a last name.
                </span>-->
                <br>
                <label for="uname" class="p2">Username</label>
                <input type="text" id="uname" formControlName="uname"/>
                <!-- <span *ngIf="!uname?.valid && (uname?.touched || registerClicked)" class="error">
                    Please provide a username.
                </span>-->
                <br> 
                <label for="pword" class="p2">Password</label>
                <input type="password" id="pword1" formControlName="pword1"/>
                <!-- <span *ngIf="!pword1?.valid && (pword1?.touched || registerClicked)" class="error">
                    Please provide a password.
                </span>-->
                <br>
                <label for="pword" class="p2">Confirm Password</label>
                <input type="password" id="pword2" formControlName="pword2"/>
                <!-- <span *ngIf="!pword2?.valid && (pword2?.touched || registerClicked)" class="error">
                    Please confirm the password.
                </span>-->
                <br> 
                <button type="submit" value="Register" (click)="onRegister()">Register</button>
            </form>
        </div>
    </div>
</div>